doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Luke's Café - Producto

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper     
                                span.section-heading-lower Café Arabica
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/arabica.png' alt='...')
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            h2.section-headin-2.mb-4
                                | Características
                            p.mb-0
                            ul 
                                li 
                                    strong Sabor:
                                    | Su sabor es suave, dulce y ácido, con una amplia gama de notas frutales y florales. Los cafés arábicas suelen tener una acidez brillante, lo que les da una sensación refrescante en el paladar.
                                li
                                    strong Aroma:
                                    | El aroma del café arábica es complejo, con notas de frutas, flores y a veces, un toque de nuez o chocolate.
                                li  
                                    strong Granos:
                                    | Los granos de arábica son más grandes, ovalados y de una textura más suave que los de robusta.
                                li
                                    strong Cultivo:
                                    | El café arábica se cultiva principalmente en altitudes elevadas, entre los 600 y 2000 metros sobre el nivel del mar, en regiones tropicales como América Latina, África y algunas partes de Asia.
                                li  
                                    strong Contenido de cafeína:
                                    | Contiene menos cafeína que el robusta, lo que contribuye a su sabor más suave.
                            strong Usos:
                            | El café arábica es muy apreciado por los baristas y es comúnmente utilizado en cafés de especialidad y blends de alta gama debido a su perfil de sabor refinado.

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.me-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper 
                                span.section-heading-lower Café Robusta
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/robusta.png' alt='...')
                    .product-item-description.d-flex.ms-auto
                        .bg-faded.p-5.rounded
                            h2.section-headin-2.mb-4
                                | Características
                            p.mb-0
                            ul 
                                li 
                                    strong Sabor:
                                    | El café robusta tiene un sabor más fuerte y amargo, con un toque terroso y a menudo ligeramente astringente. A menudo se percibe como más áspero y con un regusto más fuerte.
                                li
                                    strong Aroma:
                                    | El aroma es menos complejo que el arábica, con notas de madera y a veces un toque de tierra o nuez.
                                li  
                                    strong Granos:
                                    | Los granos de robusta son más pequeños y redondos que los de arábica. También tienen una mayor densidad y contienen más cafeína.
                                li
                                    strong Cultivo:
                                    | El robusta se cultiva en regiones más cálidas y húmedas, a menudo a menor altitud que el arábica, y es más resistente a plagas y enfermedades.
                                li  
                                    strong Contenido de cafeína:
                                    | Contiene aproximadamente el doble de cafeína que el café arábica, lo que contribuye a su sabor más fuerte y amargo.
                            strong Usos:
                            | El café robusta se utiliza principalmente para la producción de café instantáneo, mezclas de café y café espresso. También se utiliza en la producción de café descafeinado, ya que tiene un contenido de cafeína más alto que el arábica.
        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper 
                                span.section-heading-lower Café Liberica
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/liberica.png' alt='...')
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            h2.section-headin-2.mb-4
                                | Características
                            p.mb-0
                            ul 
                                li 
                                    strong Sabor:
                                    | El café liberica tiene un sabor único y distintivo, con notas afrutadas y florales, y un regusto a veces amargo y astringente.
                                li
                                    strong Aroma:
                                    | El aroma es complejo y afrutado, con notas de bayas, flores y especias.
                                li  
                                    strong Granos:
                                    | Los granos de liberica son grandes, redondos y de forma asimétrica, con una textura suave y una ranura característica en un lado.
                                li
                                    strong Cultivo:
                                    | El café liberica se cultiva principalmente en África, en regiones como Liberia, Costa de Marfil y Guinea. También se cultiva en algunas partes de Asia y América Latina.
                                li  
                                    strong Contenido de cafeína:
                                    | Contiene menos cafeína que el robusta, pero más que el arábica, lo que contribuye a su sabor único.
                            strong Usos:
                            | El café liberica es menos común que el arábica y el robusta, pero se utiliza en blends y mezclas especiales debido a su sabor distintivo y su rareza.

        section.page-section
                    .container
                        .product-item
                            .product-item-title.d-flex
                                .bg-faded.p-5.d-flex.me-auto.rounded
                                    h2.section-heading.mb-0
                                        span.section-heading-upper
                                        span.section-heading-lower Café Excelsa
                            img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/excelsa.png' alt='...')
                            .product-item-description.d-flex.ms-auto
                                .bg-faded.p-5.rounded
                                    h2.section-headin-2.mb-4
                                        | Características
                                    p.mb-0
                                    ul 
                                        li 
                                            strong Sabor:
                                            | El café excelsa tiene un sabor único y complejo, con notas afrutadas, florales y a veces picantes. Es conocido por su sabor suave y ácido, con un regusto a veces amargo.
                                        li
                                            strong Aroma:
                                            | El aroma es complejo y afrutado, con notas de bayas, flores y especias.
                                        li  
                                            strong Granos:
                                            | Los granos de excelsa son grandes, redondos y de forma asimétrica, con una textura suave y una ranura característica en un lado.
                                        li
                                            strong Cultivo:
                                            | El café excelsa se cultiva principalmente en Asia, en regiones como Filipinas, Indonesia y Tailandia. También se cultiva en algunas partes de África y América Latina.
                                        li  
                                            strong Contenido de cafeína:
                                            | Contiene menos cafeína que el robusta, pero más que el arábica, lo que contribuye a su sabor único.
                                    strong Usos:
                                    | El café excelsa es utilizado principalmente en blends para aportar una complejidad adicional al perfil de sabor. Es comúnmente apreciado en cafés de especialidad por su singularidad.

        include includes/footer

        include includes/scripts
